#search-bar {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0px;
    z-index: 1;
}

.center-chart {
   max-width: 100%;
   margin: 0px auto;
}

#mapid { 
    height: 100vh;
    width: 100vw;
    z-index: 0; 
}

table {
    margin: 0px auto;
}

.content-header  {
    position: relative;
}

#weather-close-button, #population-close-button, #currency-close-button {
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.background-1 {
    background-color: #fae373;
}

.background-2 {
    background-color: #fae893;
}

.background-3 {
    background-color: #fcbb60;
}

.background-4 {
    background-color: #d0fc60;
}

.background-5 {
    background-color: #60fcd8;
}

.background-6 {
    background-color: #60c3fc;
}

.background-7 {
    background-color: #faaf46;
}

.margin-left {
    margin-left: 2vw;
}

.padding-left {
    padding-left: 2vw;
}

.margin-top-bottom {
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.no-margin-top-bottom {
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-border {
    border: none !important;
}


