* {
    border: 1px solid red;
}

#search-bar {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0px;
    z-index: 1;
}

#forecast-hour, #temperature-2days, #pressure-2days, #humidity-2days, #cloudiness-2days, #rain-2days, #temperature-history, #rain-history, #population-chart, #currency-gdp-content {
   max-width: 100%;
   margin: 0px auto;
}

#mapid { 
    height: 100vh;
    width: 100vw;
    z-index: 0; 
}

table {
    margin: 0px auto;
}

.content-header  {
    position: relative;
}

#weather-close-button, #population-close-button, #currency-close-button {
    position: absolute;
    top: 0.5em;
    right: 1em;
}


